@charset "utf-8";
@import "public.css";
.h1 {
  display: flex;
  height: 0.88rem;
  background-color: #fff;
  padding: 0.4rem 0.35rem 0 0.29rem;
  justify-content: space-between;
  align-items: center;
}
.h1 .p1 {
  width: 0.17rem;
  height: 0.29rem;
}
.h1 .p2 {
  width: 1.5rem;
  height: 0.31rem;
}
.h1 .lue {
  display: flex;
  justify-content: space-between;
  width: 0.54rem;
  height: 0.12rem;
}
.h1 .lue span {
  display: inline-block;
  width: 0.12rem;
  height: 0.12rem;
  background-color: #000;
  border-radius: 50%;
}
.search {
  position: relative;
  background-color: #fff;
}
.search img {
  position: absolute;
  width: 0.26rem;
  height: 0.27rem;
  left: 2.85rem;
  top: 0.26rem;
}
.search input {
  width: 6.24rem;
  height: 0.77rem;
  background-color: #f26b11;
  font-size: 0.24rem;
  color: #fff;
  text-align: center;
  border-radius: 0.35rem;
  margin-left: 0.63rem;
}
.content {
  height: 9.58rem;
  background-color: #fff;
  padding: 0.29rem 0.24rem 0 0.23rem;
}
.content .box {
  display: flex;
  height: 1.85rem;
  border-bottom: 0.01rem solid #d1d1d1;
  margin-top: 0.21rem;
}
.content img {
  margin-left: 0.26rem;
}
.content .im1 {
  width: 1.3rem;
  height: 1.48rem;
}
.content .im2 {
  width: 1.3rem;
  height: 1.6rem;
}
.content .im3 {
  width: 1.3rem;
  height: 1.5rem;
}
.content .im4 {
  width: 1.3rem;
  height: 1.5rem;
}
.content .txt {
  margin-left: 0.41rem;
}
.content .txt .p1 {
  line-height: 0.37rem;
  font-size: 0.24rem;
  color: #333;
}
.content .txt .p2 {
  line-height: 0.61rem;
  font-size: 0.18rem;
  color: #e43a3d;
}
.content .txt .p2 span {
  font-size: 0.24rem;
}
.content .txt .p3 {
  line-height: 0.33rem;
  font-size: 0.2rem;
  color: #d2d2d2;
}
