@charset "utf-8";
@import "normalize.css";
@import "reset.css";
body {
  background-color: #f1f1f1;
  font-size: 12px;
  line-height: 1;
  font-family: "微软雅黑";
}
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
header {
  display: flex;
  height: 0.88rem;
  background-color: #f26b11;
  padding: 0.4rem 0.35rem 0 0.29rem;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 0.17rem;
  height: 0.29rem;
}
header p {
  font-size: 0.32rem;
  color: #fff;
}
header .lue {
  display: flex;
  justify-content: space-between;
  width: 0.54rem;
  height: 0.12rem;
}
header .lue span {
  display: inline-block;
  width: 0.12rem;
  height: 0.12rem;
  background-color: #fff;
  border-radius: 50%;
}
.bottom {
  height: 1.2rem;
  border-top: 0.01rem solid #eaeaea;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.bottom .hezi {
  width: 1.48rem;
  height: 1.2rem;
  text-align: center;
  font-size: 0.18rem;
  color: #848484;
}
.bottom .hezi img {
  width: 0.49rem;
  height: 0.53rem;
  margin-top: 0.23rem;
}
.bottom .hezi p {
  line-height: 0.18rem;
  margin-top: 0.14rem;
}
.bottom .hezi .k {
  color: #ee7f3a;
}
